@import "./nullstyle";
@import "./variables";

body {
	font-family: "Source Code Pro", monospace;
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
h1 {
	margin: 0;
	font-size: 7em;
}
h2 {
	margin: 0;
	font-size: 3em;
}
section {
	padding: 0 10px;
	text-align: center;
	position: absolute;
	inset: 0;
	background: #010101;
	color: #fff;
	mix-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.holder {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.arrow-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& span {
		color: #c4c4c4;
		font-size: 14px;
		margin-bottom: 30px;
		opacity: 0.5;
	}
	& i {
		color: #a19e9e;
		font-size: 32px;
		opacity: 0.5;
		animation: arrow-blink 0.6s infinite;
		transition: all 1s ease-in-out;
	}
}
@keyframes arrow-blink {
	0% {
		transform: translateY(-20px);
		transition: all 0.3s ease-in;
	}
	50% {
		transform: translateY(-10px);
		transition: all 0.3s ease-in;
	}
	100% {
		transform: translateY(-20px);
		transition: all 0.3s ease-in;
	}
}

.change-lang {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #c4c4c4;
	z-index: 1;
	background-color: transparent;
	font-size: 18px;
}
.content {
	background: #010101;
	height: 100vh;
	width: 100vw;
	&__experience {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.experience {
	&__title {
		text-align: center;
		line-height: 32px;
	}
	&__block {
		margin-top: 120px;
		display: flex;
		
		&--item {
			width: 300px;
			height: 250px;
			background: #182228;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			padding: 22px 31px;
			color: #a19e9e;
		}
	}
	&-lang {
		&__title {
			font-size: 17px;
			letter-spacing: 0.4px;
			color: red;
		}
		&__subtitle {
			font-size: 12px;
			color: green;
		}
		&__progreesBar {
			display: flex;
			flex-direction: column;
			margin-top: 12px;
			row-gap: 45px;
		}
	}
	&-tools {
		&__title {
			font-size: 17px;
			letter-spacing: 0.4px;
			color: red;
		}
		&__subtitle {
			font-size: 12px;
			color: green;
		}
		&__progreesBar {
			display: flex;
			flex-direction: column;
			margin-top: 12px;
			row-gap: 45px;
		}
	}
}
.progress {
	display: flex;
	justify-content: space-between;
}
.lng-experience-title {
	font-size: 30px;
	color: $colorTitle;
}
.lng-experience-subtitle {
	font-size: 15px;
	color: $colorSubTitle;
}
