@import '../../variable';
@import '../../mixin';

.contacts {
	display: flex;
	gap: 15px;
	padding: 15px;
	&__wrapper {
		width: 50%;
		color: $color-text;
		
		@include phones {
			width: 100%;
		}
	}
	@include phones {
		gap: 25px;
		flex-direction: column;
	}
}
.border	{
	width: 1px;
	height: 40vh;
	background-color: $accent-color;
	@include phones {
		display: none;
	}
}
