@import '../../variable';
@import '../../mixin';

.project {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 16px;
	color: $color-text;
	padding: 15px;

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		@include phones {
			flex-direction: column;
		}
		@include phones {
			overflow: auto;
		}
	}
}
.card {
	&__technologies {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		&_item {
			font-size: 12px;
			padding: 5px;
			border: 1px solid;
			border-radius: 30px;
		}
	}
}
.timer_prev_bg {
	background-color: #6c3fc9;
}
.mycar_prev_bg {
	background-color: #959a9f;
}
.shop_prev_bg {
	background-color: #03a9f4;
}
.wallet_prev_bg {
	background-color: #7bdcb5;
}
.item_react {
	border-color: $react_color;
}
.item_scss {
	border-color: $scss_color;
}
.item_css {
	border-color: $css_color;
}
.item_node {
	border-color: $node_color;
}
.item_mongodb {
	border-color: $mongodb_color;
}
.item_redux {
	border-color: $redux_color;
}
.item_axios {
	border-color: $axios_color;
}
