@import '../../variable';
@import '../../mixin';

.sidebar {
	color: rgb(106, 115, 125);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 60px;
	width: 60px;
	background-color: $bg-sideBar;
	padding-bottom: 10px;

	&__icons {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 25px;
		gap: 15px;
		cursor: pointer;
		&_item {
			padding: 5px;
			&:hover {
				color: #3c3d51;
			}
		}
		@include phones {
			gap: 10px;
		}
		@include tablets {
			gap: 10px;
		}
	}
	@include phones {
		padding-bottom: 0;
		height: 80vh;
		overflow: hidden;
	}
	@include tablets {
		padding-bottom: 90px;
		height: 100vh;
	}
}
.active {
	border-left: 1px solid $accent-color;
	color: #fff;
}
