@import '../../variable';
@import '../../mixin';

.sidebar {
	color: rgb(106, 115, 125);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60px;
	background-color: $bg-sideBar;

	&__icons {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		gap: 10px;
		cursor: pointer;
		&_item {
			padding: 5px;
			&:hover {
				color: #3c3d51;
			}
		}
		@include phones {
			gap: 10px;
		}
	}
	@include phones {
		max-width: 50px;
		min-width: 50px;
	}
}
.active {
	border-left: 1px solid $accent-color;
	color: #fff;
}
