@import '../../variable';
@import '../../mixin';

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color-text;
	height: 30px;
	padding: 5px;
	width: 100vw;
	background: $footer-bg;
	position: fixed;
	left: 0;
	bottom: 0;

	&__info {
		display: flex;
		align-items: center;
		gap: 10px;

		&_item{
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}

	@include phones {
		font-size: 11px;
	}
}
