$font-family-jb: 'JetBrains Mono', monospace;
$font-family-sc: 'Source Code Pro', monospace;
$bg-sideBar: #343746;
$bg-content: #282a36;
$bg-main: #1e1f29;
$bg-explorer: #21222c;
$bg-tabs: #191a21;
$tab-bg: #21222c;
$footer-bg: #191a21;
$color-text: #efefef;
$accent-color: #ff6e6e;
$card-bg: #21222c;

//

$react_color: #0693e3;
$scss_color: #eb144c;
$node_color: #008b02;
$mongodb_color: #00d084;
$redux_color: #9900ef;
$axios_color: #672cdc;


// Variable
$primary-color: #667080;
$secondary-color: #eef1f4;
$bcg-color: #fffefc;
$bcg-shop: #f8f8f8;
$bcg-slide: rgba(255, 255, 255, 0.40);
$border-radius-btn: 50px;
$border-radius: 18.31px;
$box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.10);
$btn-color-gradient: linear-gradient(45deg, #098dc1, 60%, #f417de);
$Secondary-Deep: #c3c6c9;